<div class="card">
  <h2>Poziom wilgotności powietrza</h2>

  <p>
    Aktualny poziom wilgotności powietrza
  </p>

  <p class="value">
    {{data?.currentValue}} %
  </p>

  <div>
    <input type="checkbox"
           [checked]="data?.enabledAutoMode"
           (change)="toggleEdit()">

    <span>Automatyczne sterowanie</span>
  </div>

  <div *ngIf="data?.enabledAutoMode">
    <input type="number"
           placeholder="Np. {{min}}-{{max}}"
           style="width: 100px"
           [min]="min" [max]="max"
           [value]="data?.expectedValue"
           (change)="setValue($event)">

    <span> %</span>
  </div>

  <p *ngIf="isInvalid()" style="color: red">Dozwolone są liczby od {{min}} do {{max}}</p>
</div>
